<div class="container">
  <h3>CREATE NEW TEST</h3>
  <div class="form">
    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <div class="form-group">
      <label for="TestType">Type</label>
      <select class="form-control" name="TestType" #TestType="ngModel" [(ngModel)]="service.formData.TestType" id="TestType">
        <option>Cooper test</option>
        <option>100 meter sprint test</option>
      </select>
    </div>
    <div class="form-group">
      <label for="TestDate">Date</label>
      <input type="text" minlength="6" maxlength="6" class="form-control" #TestDate="ngModel" [(ngModel)]="service.formData.TestDate" name="TestDate" id="TestDate"/>
    </div>
    <div class="form-group">
      <input type="submit" value="Create Test" class="btn btn-success"/>
    </div>
    </form>
  </div>
</div>