.container{
    text-align: center;
}
table thead tr th,table tbody tr td {
    text-align: center;
}
.route1{
    justify-content: center;
}

.route2{
    justify-content: center;
    margin-top:15px;
    color:white;
}

.nodecoration tr td a{
    text-decoration: none;
    color:#333;
}